{{ define "title" }}About{{ end }}
{{ define "about" }}
  <div
    class="grid grid-cols-1 gap-y-16 py-20 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
  >
    <div class="lg:pl-20">
      <div class="max-w-xs px-2.5 lg:max-w-none">
        <img
          src="/public/portrait.jpg"
          alt=""
          class="aspect-square rotate-3 rounded-2xl object-cover"
        />
      </div>
    </div>
    <div class="lg:order-first lg:row-span-2">
      <h1
        class="text-4xl font-bold tracking-tight text-neutral-900 sm:text-5xl"
      >
        Fullstack developer, indiehacker & background in business.
      </h1>
      <div class="mt-6 space-y-7 text-base text-neutral-800">
        <p>
          I’ve loved making things for as long as I can remember, and wrote my
          first program when I was 6 years old, just two weeks after my mom
          brought home the brand new Macintosh LC 550 that I taught myself to
          type on.
        </p>
        <p>
          The only thing I loved more than computers as a kid was space. When I
          was 8, I climbed the 40-foot oak tree at the back of our yard while
          wearing my older sister’s motorcycle helmet, counted down from three,
          and jumped — hoping the tree was tall enough that with just a bit of
          momentum I’d be able to get to orbit.
        </p>
        <p>
          I spent the next few summers indoors working on a rocket design, while
          I recovered from the multiple surgeries it took to fix my badly broken
          legs. It took nine iterations, but when I was 15 I sent my dad’s
          Blackberry into orbit and was able to transmit a photo back down to
          our family computer from space.
        </p>
      </div>
    </div>
    <div class="lg:pl-20">
      <ul role="list">
        <a href="mailto:spencer@planetaria.tech"
          ><li class="mt-4">spencer@planetaria.tech</li></a
        >
        <a href="#"><li class="mt-4">LinkedIn</li></a>
        <a href="#"><li class="mt-4">GitHub</li></a>
      </ul>
    </div>
  </div>
{{ end }}

{{ define "main" }}
  {{ template "about" . }}
{{ end }}
