{{ define "title" }}Posts{{ end }}

{{- define "main" -}}
  {{ template "posts" . }}
{{ end }}

{{- define "posts" -}}
  <title>Posts</title>
  <div class="py-24 max-w-2xl">
    <h1
      class="text-4xl font-bold tracking-tight text-neutral-900 sm:text-5xl gsap-fade-in"
    >
      Writing on fullstack software development, and my journey as a developer.
    </h1>
    <div class="mt-6 space-y-7 text-base text-neutral-800 gsap-fade-in">
      <p>My thought on programming, recent discoveries and learnings.</p>
    </div>
  </div>
  {{ template "post-list" . }}
  <div class="mb-24 lg:mb-40"></div>

  <!-- Left green blob -->
  <img
    src="/public/shapes/asset-shape-3.svg"
    alt="shape"
    class="hidden md:block w-36 xl:w-48 absolute top-[24%] left-0 -z-10  "
  />
  <!-- Right blue blob-->
  <img
    src="/public/shapes/asset-shape-4.svg"
    alt="shape"
    class="w-16 lg:w-36 xl:w-48 absolute top-[400px] right-0 -z-10 "
  />
  <!-- Left star -->
  <img
    src="/public/shapes/asset-poligon-1.svg"
    alt="shape"
    class="hidden lg:block w-6 absolute top-[55%] left-[8%] -z-10 "
  />
  <!-- Right star -->
  <img
    src="/public/shapes/asset-star-3.svg"
    alt="shape"
    class="w-4 lg:w-12 absolute top-28 sm:top-[20%] xl:top-[24%] right-[6%] lg:right-[16%] xl:right-[24%] -z-10"
  />
{{ end }}

{{ define "post-list" }}
  <div class=" md:border-l md:border-neutral-300 md:pl-6 ">
    <div class="flex max-w-3xl flex-col space-y-16">
      {{ range . }}
        {{ template "post-card" . }}
      {{ end }}
    </div>
  </div>
{{ end }}

{{ define "post-card" }}
  <article class="md:grid md:grid-cols-4 md:items-baseline">
    <div
      class="md:col-span-3 group relative flex flex-col items-start gsap-fade-in"
    >
      <h2 class="text-base font-semibold tracking-tight text-neutral-800 ">
        <div
          class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-darkBeige opacity-0 transition group-hover:scale-100 group-hover:opacity-100 sm:-inset-x-6 sm:rounded-2xl /50"
        ></div>
        <a href="posts/{{ .Slug }}" hx-target="main"
          ><span
            class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl "
          ></span
          ><span class="relative z-10 ">{{ .Title }}</span></a
        >
      </h2>
      <time
        class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-neutral-400  pl-3.5  gsap-fade-in"
        datetime="2022-09-05"
        ><span
          class="absolute inset-y-0 left-0 flex items-center"
          aria-hidden="true"
          ><span
            class="h-4 w-0.5 rounded-full bg-neutral-300  gsap-fade-in"
          ></span></span
        >{{ .Date }}</time
      >
      <p class="relative z-10 mt-2 text-sm text-neutral-600  gsap-fade-in">
        {{ .Description }}
      </p>
      <div
        aria-hidden="true"
        class="relative z-10 mt-4 flex items-center text-sm font-semibold text-neutral-900 gsap-fade-in"
      >
        Read article<svg
          viewBox="0 0 16 16"
          fill="none"
          aria-hidden="true"
          class="ml-1 h-4 w-4 stroke-current"
        >
          <path
            d="M6.75 5.75 9.25 8l-2.5 2.25"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
      </div>
    </div>
    <time
      class="mt-1 hidden relative z-10 order-first mb-3 md:flex md:items-center text-sm text-neutral-500 "
      datetime="{{ .Date }}"
      >{{ .Date }}</time
    >
  </article>
{{ end }}
