{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <link rel="icon" type="image/x-icon" href="/public/favicon.ico" />
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/public/css/styles.css" />
      <script src="/public/htmx-2.0.1.min.js" defer></script>
      <script src="/public/prism.js" defer></script>
      <script src="/public/allow422swap.js" defer></script>
      <script
        src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"
        defer
      ></script>
      <script src="/public/animations.js"></script>
      <!-- <script src="https://unpkg.com/alpinejs" defer></script> -->
      <title>{{ template "title" . }}</title>
      <title>{{ template "title" . }}</title>
    </head>

    <body
      class="relative bg-lightBeige flex min-h-screen flex-col text-neutral-900 overflow-y-scroll overflow-x-hidden"
    >
      <header>
        {{ template "nav" . }}
      </header>

      <main
        id="main-content"
        class="mx-auto max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl grow px-4 sm:px-6 lg:px-8 flex flex-col "
      >
        {{ template "main" . }}
      </main>
    </body>
  </html>
{{ end }}
