<!-- Remember xl:relative on partent element -->
{{ define "article-back-button" }}
  <button
    hx-get="/articles"
    hx-target="main"
    hx-push-url="true"
    type="button"
    aria-label="Go back to articles"
    class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md hover:shadow-lg shadow-neutral-800/5 ring-1 ring-neutral-900/5 transition"
  >
    <svg
      viewBox="0 0 16 16"
      fill="none"
      aria-hidden="true"
      class="h-4 w-4 stroke-neutral-500 transition group-hover:stroke-neutral-950 "
    >
      <path
        d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      ></path>
    </svg>
  </button>
{{ end }}
