{{- define "footer" -}}
  <footer class="mx-auto flex h-12 max-w-5xl justify-end px-2 sm:px-6 lg:px-8">
    <ul class="flex items-center space-x-2">
      <a href="/Blog">
        <li class="px-2 py-2">Email</li>
      </a>
      <a href="/about">
        <li class="px-2 py-2">Linkedin</li>
      </a>
      <a href="/about">
        <li class="px-2 py-2">Github</li>
      </a>
    </ul>
  </footer>
{{ end }}
