{{- define "nav" -}}
<nav class="w-full flex justify-center items-center border-b-2 py-10 min-h-12">
    <ul class="gap-2 flex items-center ">
        <li>
            <a href="/" class="  hover:bg-neutral-500  p-2">Home</a>
        </li>
        <li>
            <button hx-get="/app/contacts" hx-target="#main-content" hx-push-url=true
                class="hover:bg-neutral-500  p-2">list
                contact</button>
        </li>
        <li>
            <button hx-get="/app/contacts/create" hx-target="#main-content" hx-push-url=true
                class="hover:bg-neutral-500  p-2">create
                contact</button>
        </li>
    </ul>
    <ul class="gap-2 flex items-center ">
        <li>
            <button hx-get="/app/signup" hx-target="#main-content" class=" hover:bg-neutral-500  p-2">Create
                user</button>
        </li>
        <li>
            <button hx-get="/app/login" hx-target="#main-content" class=" hover:bg-neutral-500  p-2">Login</button>
        </li>
        <li>
            <button hx-post="/app/logout" hx-target="#main-content" class="hover:bg-neutral-500  p-2">Logout</button>
        </li>
    </ul>
</nav>
{{end}}