{{- define "nav" -}}
  <nav class="mx-auto flex h-12 max-w-5xl justify-end px-2 sm:px-6 lg:px-8">
    <ul class="flex items-center gap-4">
      <button
        hx-get="/"
        hx-target="main"
        class="hover:border-b hover:border-neutral-800"
      >
        <li class="py-2">Home</li>
      </button>
      <button
        hx-get="/posts"
        hx-target="main"
        class="hover:border-b hover:border-neutral-800"
      >
        <li class="py-2">Posts</li>
      </button>
      <button
        hx-get="/about"
        hx-target="main"
        class="hover:border-b hover:border-neutral-800 "
      >
        <li class="py-2">About</li>
      </button>
    </ul>
  </nav>
{{ end }}
