{{ define "title" }}HOME👋{{ end }}

{{- define "home" -}}
  <div class="py-24  lg:flex lg:items-center lg:gap-4 lg:gap-x-10">
    <div class="hidden rounded-lg lg:block lg:w-1/3" alt="bg image">
      <img class="rounded-lg" src="/public/bg.jpg" alt="Hei" />
    </div>

    <div class="w-full font-light lg:w-2/3">
      <span class="text-2xl lg:text-6xl">Ohoi! 🦜</span>
      <h1 class="text-4xl sm:text-6xl">
        <span> I’m <span class="font-semibold">Torkel Aannestad</span>,</span
        ><br />
        <span>
          a <span class="font-semibold">fullstack developer</span> based in Oslo.</span>
        </span>
      </h1>
      <p class="mt-8 sm:mt-12 text-lg sm:text-2xl text-neutral-700">
        I have passion for solving user needs with computer systems, frontend
        and backend alike. <span class="font-bold">Go</span> is my current
        weapon of choice, I love to experiment with
        <span class="font-bold">HTMX</span> , but also dig
        <span class="font-bold">Typescript</span> and
        <span class="font-bold">React</span> .
      </p>
    </div>
  </div>
{{ end }}

{{- define "main" -}}
  {{ template "home" . }}
{{ end }}
