{{ define "title" }}HOME👋{{ end }}

{{- define "home" -}}
  <div class="py-24 sm:py-32 font-light text-center xl:text-left">
    <!-- <span class="text-2xl lg:text-6xl">Ohoi! 🦜</span> -->
    <h1 class="text-4xl md:text-4xl xl:text-6xl">
      <span>
        I'm
        <span class="font-semibold">Torkel Aannestad</span>,
      </span>
      <br />
      <span
        >a <span class="font-semibold">fullstack developer </span> based in
        Oslo.
      </span>
    </h1>
    <p
      class="mt-8 sm:mt-10 lg:mt-12 text-lg md:text-xl xl:text-2xl text-neutral-700"
    >
      I'm passionate about solving user needs with computer systems, frontend
      and backend alike. <span class="font-bold">Go</span> is my current weapon
      of choice, I love to experiment with <span class="font-bold">HTMX</span> ,
      but also dig <span class="font-bold">Typescript</span> and
      <span class="font-bold">React</span>.
    </p>
    <img
      src="/public/shapes/asset-multiple-shape-1.svg"
      alt="shape"
      class="w-16 sm:w-24 md:w-36 lg:w-2/12 absolute -translate-x-5 sm:-translate-x-10 lg:-translate-x-2/3 xl:-translate-x-60 -translate-y-52   -z-10 "
    />
    <img
      src="/public/shapes/asset-multiple-shape-"
      alt="shape"
      class="w-16 sm:w-24 md:w-36 lg:w-2/12 absolute -translate-x-5 sm:-translate-x-10 lg:-translate-x-2/3 xl:-translate-x-60 -translate-y-52   -z-10 "
    />
  </div>
{{ end }}

{{- define "main" -}}
  {{ template "home" . }}
{{ end }}
