{{ define "title" }}HOME👋{{ end }}

{{- define "home" -}}
  <div class="py-24 sm:py-32">
    <h1 class="text-6xl tracking-tight sm:text-7xl lg:text-9xl">
      <span class="font-light"> Torkel </span><br />
      <span class="font-medium"> Aannestad </span>
    </h1>
    <p class="mt-12 text-lg leading-8 text-neutral-600">
      I have passion for solving user needs with computer systems, frontend and
      backend alike. <span class="font-bold">Go</span> is my current weapon of
      choice, I love to experiment with <span class="font-bold">HTMX</span> ,
      but also dig <span class="font-bold">Typescript</span> and
      <span class="font-bold">React</span> .
    </p>
  </div>
{{ end }}

{{- define "main" -}}
  {{ template "home" . }}
{{ end }}
