{{ define "title" }}Torkel Aannestad{{ end }}

{{- define "home" -}}
  <title>Torkel Aannestad</title>
  <div class="py-24 sm:py-32 xl:py-44 font-light text-center xl:text-left">
    <div class="relative">
      <h1 class="text-4xl md:text-4xl xl:text-6xl gsap-fade-in">
        <span>
          I'm
          <span class="font-semibold">Torkel Aannestad</span>,
        </span>
        <br />
        <span
          >a <span class="font-semibold">fullstack developer </span> based in
          Oslo.
        </span>
      </h1>
      <p
        class="mt-8 sm:mt-10 lg:mt-12 text-lg md:text-xl xl:text-2xl text-neutral-700 gsap-fade-in"
      >
        I'm passionate about building solutions that solve real user problems. I
        enjoy working with a large part of the stack, from
        <span class="font-bold">product</span> and
        <span class="font-bold">frontend</span>, to
        <span class="font-bold">backend</span> and
        <span class="font-bold">infrastructure</span>.
        <span class="font-bold">Go</span> is my current weapon of choice, but
        also work with <span class="font-bold">Typescript</span>,
        <span class="font-bold">Python</span>, and frameworks like
        <span class="font-bold">React</span>,
        <span class="font-bold">Next.js</span> and
        <span class="font-bold">HTMX</span>.
      </p>

      <!-- OHOI -->
      <img
        src="/public/shapes/asset-bubble-ohoi.svg"
        alt="Greeting"
        class="w-20 xl:w-32 absolute -top-16 xl:-top-28 left-[16%] sm:left-1/4 xl:left-0 gsap-ohoi"
      />
    </div>

    <!-- Left orange and dots -->
    <img
      src="/public/shapes/asset-shape-1.svg"
      alt="shape"
      class="w-8 sm:w-20 md:w-24 lg:w-32 absolute top-56 left-0 -z-10 "
    />
    <!-- Right green saucage -->
    <img
      src="/public/shapes/asset-shape-2.svg"
      alt="shape"
      class="w-10 sm:w-20 md:w-24 lg:w-32 xl:w-36 absolute top-52 right-0 -z-10 "
    />
    <!-- Left star -->
    <img
      src="/public/shapes/asset-star-1.svg"
      alt="shape"
      class="w-[3%] lg:w-[2%] absolute bottom-4 lg:bottom-24  left-[14%] lg:left-[8%] -z-10 "
    />
    <!-- Right star -->
    <img
      src="/public/shapes/asset-star-2.svg"
      alt="shape"
      class="w-[5%] lg:w-[3%] absolute top-20 sm:top-24 xl:top-32 right-[6%] lg:right-[16%] xl:right-[24%] -z-10"
    />
  </div>
{{ end }}

{{- define "main" -}}
  {{ template "home" . }}
{{ end }}
