{{ define "title" }}HOME👋{{ end }}

{{- define "home" -}}
  <div class="mx-auto max-w-5xl py-32 sm:py-48 lg:py-56">
    <div class="">
      <h1 class="text-6xl tracking-tight sm:text-9xl">
        <span class="font-light"> Torkel </span><br />
        <span class="font-medium"> Aannestad </span>
      </h1>
      <p class="mt-12 text-lg leading-8 text-neutral-600">
        I have passion for solving user needs with computer systems, frontend
        and backend alike. Go is my current weapon of choice, I love to
        experiment with HTMX, but also dig Typescript and React.
      </p>
    </div>
  </div>
{{ end }}

{{- define "main" -}}
  {{ template "home" . }}
{{ end }}
